* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}

body {
  background-color: #242424;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: rgba(18, 99, 239, 0.89);
}

button:focus {
  border-color: rgba(18, 99, 239, 0.89);
}
button:disabled {
  background-color: gray;
  color: rgba(212, 204, 204, 0.466);
}
button:disabled:hover {
  border-color: gray;
}
table {
  width: 100%;
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: gray;
}
thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
  flex: 1;
  overflow-y: auto;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  transition: all 0.3s ease-in-out;
}

td {
  vertical-align: inherit;
  display: table-cell;
  text-align: center;
  padding: 6px;
}

td img {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  object-fit: cover;
}

::placeholder {
  color: black;
  opacity: 1; /* Firefox */
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 6px;
}
::-webkit-scrollbar-track {
  background-color: gray;
}
